/results/
/testingFile_1ksteps_1kindPerDeme_100rep.txt
/testingFile.txt
/testingFileFemale.txt
/testingFile_1ksteps_100indPerDeme_10000rep.txt
/testingFile_10kInd.txt
/statsDemePlot.txt
/testingFile_31march2015.txt
/testingFile_10steps_1kIndPerDeme_10kReps.txt
/testingFileMale.txt
/testingFile_10kInd_500rep.txt
/logs/
/input/
/nbproject/private/
/build/
/dist/
/output/
/SINS_PlotDemographyStats/Plots/
/SINS_PlotDemographyStats/dist/
/SINS_PlotDemographyStats/build/
/SINS_PlotDemographyStats/__pycache__/
